/*nagy PC*/

@media (max-width: 10000px){
body{
    background-image: url(hatternagy.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 300%;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5%;
    color: white;
}

.navbar{
    height: auto;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.baloldal{
    float: left;
    padding: 20px;
    width: 30%;
    color: white;
    font-size: 25px;
}

.jobboldal{
    float: right;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    color: rgb(255, 255, 255);
    text-align: justify;
}

a{
    text-decoration: none;
    color: white;
    padding:5px;
    font-size: 23px;
    font-size: 20px;
}

.gomb{
    width: 50px;
    margin: 10px;
}

.linkek{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    margin: 10px;
    margin-top: 50px;
}
}

/*sima PC*/

@media (max-width: 3000px){
body{
    background-image: url(hatterpc.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 300%;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5%;
    color: white;
}

.navbar{
    height: auto;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.baloldal{
    float: left;
    padding: 20px;
    width: 30%;
    color: white;
    font-size: 25px;
}

.jobboldal{
    float: right;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    color: rgb(255, 255, 255);
    text-align: justify;
}

a{
    text-decoration: none;
    color: white;
    padding:5px;
    font-size: 23px;
    font-size: 20px;
}

.gomb{
    width: 50px;
    margin: 10px;
}

.linkek{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    margin: 10px;
    margin-top: 50px;
}
}

/*mobile*/

@media (max-width: 700px){

body{
    background-image: url(hattermobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
}

h1{
    text-align: center;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 20px;
    color: white;
}

.navbar{
    height: auto;
    width: auto;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.baloldal{
    text-align: center;
    padding: 5%;
    width: auto;
    color: white;
    font-size: 25px;
}

.jobboldal{
    height: auto;
    width: auto;
    float: right;
    margin: 5%;
    font-size: 20px;
    color: white;
    text-align: start;
}

a{
    text-decoration: none;
    color: white;
    padding:5px;
    font-size: 25px;
}

.gomb{
    width: 50px;
    margin: 10px;
}

.linkek{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    margin: 10px;
    margin-top: 50px;
}
}







