body{
    background-image: url(hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -120px;
}

h1{
    text-align: center;
    color: black;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 20px;
    color: white;
}

.navbar{
    height: auto;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.baloldal{
    padding: 20px;
    width: 500px;
    color: white;
    font-size: 25px;
}

.jobboldal{
    padding: 20px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    color: rgb(255, 255, 255);
    text-align: justify;
}

a{
    text-decoration: none;
    color: white;
    padding:5px;
    font-size: 23px;
    font-size: 20px;
}

.gomb{
    width: 50px;
    margin: 10px;
}

.linkek{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    margin: 10px;
    margin-top: 50px;
}
